body {
    padding-top: 16px;
    font-size: 24px;
}

#bootstrap-overrides h2 {
    margin: 2px;
    margin-top: 2px;
    font-size: 72px;
    font-weight: bold;
}

#bootstrap-overrides h3 {
    margin: 2px;
    margin-top: 2px;
    font-size: 48px;
    font-weight: bold;
};
